<div class="hero-section height-600px has-map">
    <div id='mainMap'></div>
</div>

<div class="row-intro">
    <div class="container">            
            <section class="center page-title">
                <h1>چطور کار میکنه ؟</h1>
                <h3 class="subtitle">خیلی راحت فقط مراحل زیر انجام بده</h3>
            </section>
            <!--end page-title-->
            <section>
                <div class="row">
                    <div class="col-md-10 cols-m-10 col-md-offset-3">
                        <div class="step">
                            <div class="circle circle-right">
                                <figure>۱</figure>
                                <i class="fa fa-eercast" aria-hidden="true"></i>
                                <div class="circle-bg opacity-60"></div>
                            </div>
                            <div class="box">
                                <h2>ثبت نام</h2>
                                <p>استفاده از استوری مود کاملا رایگانه، حتی ثبت نام و ارسال استوری هم رایگان حتی برای مقاصد تجاری.
                                </p>
                              <%= link_to new_user_registration_path, :class => "btn btn-primary btn-small btn-rounded icon shadow add-listing" do %>
                                  <span>ثبت نام</span>
                              <% end %>
                            </div>
                        </div>
                        <div class="step">
                            <div class="circle">
                                <figure>۲</figure>
                                <i class="fa fa-grav" aria-hidden="true"></i>
                                <div class="circle-bg opacity-90"></div>
                            </div>
                            <div class="box">
                                <h2>ارسال استوری</h2>
                                <p>هر استوری یه موقعیت روی نقشه تهران پس از ثبت نام میتونی استوری مورد علاقه ات به بقیه هم نشون بدی.
                                </p>
                              <%= link_to new_location_path, :class => "btn btn-primary btn-small btn-rounded icon shadow add-listing" do %>
                                  <span>ارسال استوری جدید</span>
                              <% end %>
                            </div>
                        </div>
                        <!--end step-->
                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
            </section>
            <hr>
            </div>
        </div>

<div id="page-content" style="transform: translateY(0px);">
  <div class="container">
<section class="center page-title">
                <h1>آخرین‌ استوری ها</h1>
            </section>
  <section>
    <div class="row">

        <% @locations.last(20).each do |location| %>
              <div class="col-md-5 col-sm-5">
                <% if can? :manage, location %>
                <%= link_to 'حذف', location, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
        <div class="item">

          <%= link_to(location) do %>

         <div class="description">
          <div class="label label-default">استوری مود : <%= location.category.name if location.category %></div>
          <h3><%= location.title %></h3>
                <% if location.verified == true %>
                  <figure class="circle" title="Featured"><i class="fa fa-check"></i></figure>
                <% end %>

          <h6><%= truncate location.description, length: 80 %></h6>
        </div>
        <!--end description-->
      <%= image_tag location.image.url(:medium) if location.image %>

        <!--end image-->
              </div>
          </div>
        <% end %>

        <% end %>

      </div>
 <!--end item-->
 <!--end row-->
  </section>

    </div>
</div>

