<div class="container">
            

            <section class="page-title">
                <h1>لیست استوری ها</h1>
            </section>

  <section>
    <div class="row">

        <% @locations.each do |location| %>
              <div class="col-md-5 col-sm-5">
                <% if can? :update, location %>
                <%= link_to 'ویرایش', edit_location_path(location) %>
                <% end %>
                <% if can? :manage, location %>
                <%= link_to 'حذف', location, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
        <div class="item" data-id="1">

          <%= link_to(location) do %>

         <div class="description">
          <div class="label label-default">استوری مود : <%= location.category.name if location.category %></div>
          <h3><%= location.title %></h3>
                <% if location.verified == true %>
                  <figure class="circle" title="Featured"><i class="fa fa-check"></i></figure>
                <% end %>

          <h6><%= truncate location.description, length: 80 %></h6>
        </div>
        <!--end description-->
      <%= image_tag location.image.url(:medium) if location.image %>

        <!--end image-->
              </div>
          </div>
        <% end %>

        <% end %>

      </div>
 <!--end item-->
 <!--end row-->
  </section>


</div>

