
<div class="container">         
  <section class="page-title pull-left">
      <h1><%= @location.title %></h1>
      <h5> <%= @location.category.name %></h5>
  </section>
            <!--title-->
</div>
<div class="container"> 
  <div class="row">
    <div class="col-md-7 col-sm-7">
      <section>
          <h2>درباره این استوری</h2>
          <p><%= @location.description %></p>
      </section>
      <section>
          <h2>امکانات این استوری</h2>
            <p><%= @location.details %></p>
      </section>
    </div>

<div class="col-md-5 col-sm-5">
                    <div class="detail-sidebar">
                        <section class="shadow">
                           <p class="image">
                            <%= image_tag @location.image.url(:medium) %>
                          </p>
                                <hr>
                                <address>
                                    <figure><i class="fa fa-map-marker"></i><%= @location.address %></figure>
                                    <figure><i class="fa fa-phone"></i> <%= @location.tel %></figure>
                                </address>
                            </div>
                        </section>
                        
                        
                    </div>
                    <!--end detail-sidebar-->
                </div>

</div>
</div>

<% if @location.verified == true %>
  <figure class="circle" title="تایید شده"><i class="fa fa-check"></i></figure>
<% end %>


                        <p class="center"><%= link_to 'ویرایش', edit_location_path(@location) %></p>

